%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Client:
  = @project.client

%h3 Worked hours

%table
  %tr
    %th User
    %th Worked hours

    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= link_to "#{user.name} #{user.surname}", user
      %td= format_time(user.worked_hours(@project))
  %tr
    %td
      %strong TOTAL
    %td
      = format_time(@project.worked_hours)
%br
%br
= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
