
%br
%h2= link_to 'Report hours', new_work_hour_path

%br
%h3 Work Hours Summary

%table
  %tr
    %th Work date
    %th Quantity
    %th Description
    %th User
    %th Project
    %th
    %th
    %th

  - @work_hours.each do |work_hour|
    %tr
      %td= work_hour.work_date
      %td= work_hour.quantity
      %td= work_hour.description
      - if work_hour.user
        %td= link_to "#{work_hour.user.name} #{work_hour.user.surname}", work_hour.user
      - if work_hour.project
        %td= link_to "#{work_hour.project.name}", work_hour.project
      %td= #link_to 'Show', work_hour
      -if user_signed_in? && work_hour.user == current_user
        %td= link_to 'Edit', edit_work_hour_path(work_hour)
      %td= #link_to 'Destroy', work_hour, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

